.App {
  height: 100vh;
  display: flex;
}
.left-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}
.left-box > div {
  height: 100px;
  line-height: 100px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}
.center-box {
  flex: 1;
  border-right: 1px solid #ddd;
}
.right-box {
  width: 400px;
  padding: 24px;
}
.person-item {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.selected-item {
  margin-bottom: 24px;
  line-height: 60px;
}
.active {
  background-color: #ddd;
}
